@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

.search-widget {
  padding: 24px;
  background-color: #f3ce56;
  letter-spacing: 0;
  max-width: 480px;
}

.search-widget__title {
  color: #333;
  font-family: Ubuntu, Open Sans, Segoe UI, Tahoma, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 2rem;
  margin: 0 0 16px;
  padding: 0;
  letter-spacing: 0;
}

.search-widget__controls {
  position: relative;
}

.search-widget-controls__label {
  display: block;
  padding: 0 0 4px;
  color: #444;
  font-family: Open Sans,Segoe UI,Tahoma,sans-serif;
  font-size: 14px;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: 0;
}

.search-widget-controls__input {
  width: 100%;
  height: 48px;
  font-size: 1rem;
  border-color: #c8ae5b;
  -webkit-appearance: none;
  border: 1px solid #a4a4a4;
  border-radius: 4px;
  min-width: 49px;
  padding: 8px 16px;
  font-weight: 400;
  line-height: 1.5rem;
  font-family: Open Sans,Segoe UI,Tahoma,sans-serif;
  margin: 0;
}

.search-widget-controls__input::placeholder {
  font-size: 0.9rem;
}

.search-widget-controls__input:focus {
  border-color: #0f6193;
  outline: 0;
}